@model FavoritesViewModel

@{
    Layout = "_AccountLayout";
    var returnUrl = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path + Context.Request.QueryString.Value;
}

@await Html.PartialAsync("_Navbar", Model.Categories)
@await Html.PartialAsync("_Sidebar")

<section class="container favorite-news">
    <h1>Избранные новости</h1>
    <div class="news__wrapper">
        @foreach (var post in Model.FavPosts)
        {
            <div class="news__item" style="background: url('@Url.Content(post.Image.Path)') no-repeat center top / cover">
                <form method="post" asp-controller="Post" asp-action="RemoveFromFavorites" asp-route-id="@post.Id" asp-route-returnUrl="@returnUrl">
                    <button class="fav-icon active"></button>
                </form>
                <a asp-controller="Post" asp-action="Show" asp-route-id="@post.Id" class="news__item-details">Подробнее</a>
                <div class="news__item-header">
                    <span class="news__item-category">@post.Category.Name</span>
                    <p class="news__item-title">@post.Title</p>
                </div>
            </div>
        }
    </div>
</section>