@model ProfileViewModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Мой профиль";
}

@await Html.PartialAsync("_Navbar", Model.Categories)
@await Html.PartialAsync("_Sidebar")
<section class="container account__control-wrapper">
    <div class="user__portfolio">
        <img src="@Model.User.Image.GetSource()" alt="User image">
        <div class="user__portfolio-details">
            <span>Имя пользователя</span>
            <h1>@Model.User.UserName</h1>
            <span>Email</span>
            <h2>@Model.User.Email</h2>
        </div>
        <svg class="user__portfolio-icons" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><g><g><path d="m466.724 424.99-25.981-15c-7.174-4.142-9.632-13.316-5.49-20.49s13.316-9.632 20.49-5.49l25.981 15c7.174 4.142 9.632 13.316 5.49 20.49s-13.316 9.632-20.49 5.49z" fill="#ffea98"/></g><g><path d="m440.743 409.99 25.981 15c7.174 4.142 16.348 1.684 20.49-5.49l-51.962-30c-4.141 7.174-1.683 16.348 5.491 20.49z" fill="#ffb454"/></g><g><path d="m399.009 481.724-15-25.981c-4.142-7.174-1.684-16.348 5.49-20.49s16.348-1.684 20.49 5.49l15 25.981c4.142 7.174 1.684 16.348-5.49 20.49-7.173 4.143-16.347 1.685-20.49-5.49z" fill="#ffb454"/></g><g><path d="m312 497v-30c0-8.284 6.716-15 15-15s15 6.716 15 15v30c0 8.284-6.716 15-15 15s-15-6.716-15-15z" fill="#ffb454"/></g><g><path d="m279.5 409.272c-7.174-4.142-9.632-13.316-5.49-20.49l80-138.564c4.142-7.174 13.316-9.632 20.49-5.49 45.365 26.192 60.964 84.407 34.772 129.772s-84.407 60.964-129.772 34.772z" fill="#ffea98"/></g><g><path d="m274.009 388.782c-4.142 7.174-1.684 16.348 5.49 20.49 45.365 26.192 103.581 10.593 129.772-34.772l-95.263-55z" fill="#ffb454"/></g><g><path d="m42.384 180.001c-.8-.462-1.569-1.005-2.296-1.63-25.476-21.918-40.088-53.764-40.088-87.372v-75.999c0-8.284 6.716-15 15-15s15 6.716 15 15v75.999c0 24.86 10.809 48.417 29.654 64.63 6.28 5.402 6.991 14.873 1.588 21.154-4.777 5.553-12.737 6.752-18.858 3.218z" fill="#08475e"/></g><g><g><path d="m222.064 410.753-138.167-79.771c-59.705-34.471-81.477-112.168-46.844-171.78 18.748-32.271 50.609-54.312 87.465-60.494 1.375-.231 2.777-.268 4.163-.112l60 6.769c1.39.157 2.752.507 4.045 1.041 5.118 2.113 10.131 4.581 14.9 7.335.003.002.007.004.01.006l139.429 80.499z" fill="#aed0ff"/></g><g><path d="m36.881 159.5c-34.462 59.691-13.938 136.291 45.753 170.753l139.43 80.5 62.5-108.253z" fill="#6aa9ff"/></g></g><g><path d="m249.5 461.234-21.651-12.5c-14.349-8.284-19.265-26.632-10.981-40.981l125-216.506c8.284-14.349 26.632-19.265 40.981-10.981l21.651 12.5c7.174 4.142 9.633 13.316 5.49 20.49l-140 242.487c-4.142 7.175-13.316 9.633-20.49 5.491z" fill="#6aa9ff"/></g><path d="m279.368 299.5-62.5 108.253c-8.284 14.349-3.368 32.697 10.981 40.981l21.651 12.5c7.174 4.142 16.348 1.684 20.49-5.49l70-121.243z" fill="#5f69e3"/></g><g><path d="m497 342h-30c-8.284 0-15-6.716-15-15s6.716-15 15-15h30c8.284 0 15 6.716 15 15s-6.716 15-15 15z" fill="#ffea98"/></g><g><path d="m481.724 254.99-25.981 15c-7.174 4.142-16.348 1.684-20.49-5.49s-1.684-16.348 5.49-20.49l25.981-15c7.174-4.142 16.348-1.684 20.49 5.49 4.143 7.174 1.684 16.348-5.49 20.49z" fill="#ffea98"/></g></g><g><g><g><path d="m122 217v-202c0-8.284 6.716-15 15-15h40c8.284 0 15 6.716 15 15v202c0 19.33-15.67 35-35 35-19.33 0-35-15.67-35-35z" fill="#6aa9ff"/></g></g></g><g><path d="m157 252c9.214 0 17.59-3.566 23.84-9.385l-58.84-33.972v8.357c0 19.33 15.67 35 35 35z" fill="#5f69e3"/></g></g></svg>
    </div>
    <div class="user__buttons">
        <a asp-controller="Account" asp-action="Edit" asp-route-id="@Model.User.Id">Редактировать профиль</a>
        <a asp-controller="Account" asp-action="ChangePassword" asp-route-id="@Model.User.Id">Сменить пароль</a>
    </div>

</section>

