@model ShowPostViewModel

@{
    Layout = "_HomeLayout";
    ViewData["Title"] = Model.Post.Title;
}

@await Html.PartialAsync("_Navbar", Model.Categories)
<section class="container banner" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('@Url.Content(Model.Post.Image.Path)') no-repeat center top / cover">
    <div class="banner__content">
        <h1 class="banner__content-title">@Model.Post.Title</h1>
        <span class="banner__content-category">@Model.Post.Category.Name</span>
        <span class="banner__content-date">@Model.Post.Created.ToString("MM/dd/yyyy HH:mm")</span>
    </div>
</section>
<section class="container post">
    <div class="post__content">
        @Html.Raw(Model.Post.Content)
    </div>
    <hr>
    <div class="post__comments">
        <h1>Комментарии</h1>
        @foreach (var comment in Model.PostComments)
        {
            <div class="post__comments-wrapper">
                <img class="post__comments-user-icon" src="@comment.User.Image.Path" alt="User image">
                <div class="post__comments-content">
                    <div class="post__comments-details">
                        <span class="post__comments-username">@comment.User.UserName</span>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <form asp-controller="Post" asp-action="RemoveComment" asp-route-id="@comment.Id" class="post__comments-delete">
                                    <input name="postId" value="@Model.Post.Id" type="hidden">
                                    <button type="submit"></button>
                                </form>
                            }
                            else if (comment.User.UserName == User.Identity.Name)
                            {
                                <form asp-controller="Post" asp-action="RemoveComment" asp-route-id="@comment.Id" class="post__comments-delete">
                                    <input name="postId" value="@Model.Post.Id" type="hidden">
                                    <button type="submit"></button>
                                </form>
                            }
                        }
                    </div>
                    <p>
                        @comment.Content
                    </p>
                    <span class="post__comments-date">@comment.CreatedAt.ToString("MM/dd/yyyy HH:mm")</span>
                </div>
            </div>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <form class="post__comments-form" method="post" asp-action="AddComment">
                <img class="post__comments-user-icon" src="@Model.User.Image.Path" alt="User image">
                <input name="postId" value="@Model.Post.Id" type="hidden">
                <textarea asp-for="Comment.Content" class="post__comments-input" placeholder="Оставить комментарий"></textarea>
                <button type="submit"></button>
            </form>
        }
    </div>
</section>