@model HomeIndexViewModel

@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Новости";
    var returnUrl = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path + Context.Request.QueryString.Value;
}

@await Html.PartialAsync("_Navbar", Model.Categories)
<section class="container functions">
    <div class="functions__sorting">
        <ul>
            <li>
                <span>Сортировать по:</span>
            </li>
            <li>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]">Дате</a>
            </li>
            <li>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]">Названию</a>
            </li>
        </ul>
    </div>
    <svg class="functions__search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg>
</section>
<section class="search__window">
    <form asp-action="Index" method="get" class="search__window-form">
        <input class="search__window-input" type="text" name="searchString" value="@ViewData["CurrentFilter"]">
        <svg class="functions__search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
        <button class="search__window-button" type="submit">Найти</button>
        <svg class="search__window-close" height="329pt" viewBox="0 0 329.26933 329" width="329pt" xmlns="http://www.w3.org/2000/svg">
            <path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
        </svg>
    </form>
</section>
<section class="container banner">
</section>
<section class="container news">
    <div class="news__wrapper">
        @foreach (var post in Model.AllPosts)
        {
            <div class="news__item" style="background: url('@Url.Content(post.Image.Path)') no-repeat center top / cover">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (Model.UserPosts.Contains(post))
                    {
                        <form method="post" asp-controller="Post" asp-action="RemoveFromFavorites" asp-route-id="@post.Id" asp-route-returnUrl="@returnUrl">
                            <button class="fav-icon active"></button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-controller="Post" asp-action="AddToFavorite" asp-route-id="@post.Id" asp-route-returnUrl="@returnUrl">
                            <button class="fav-icon"></button>
                        </form>
                    }
                }
                <a asp-controller="Post" asp-action="Show" asp-route-id="@post.Id" class="news__item-details">Подробнее</a>
                <div class="news__item-header">
                    <span class="news__item-category">@post.Category.Name</span>
                    <p class="news__item-title">@post.Title</p>
                </div>
            </div>
        }
    </div>
    @if (ViewBag.PostCount > 6 && Model.AllPosts.Count >= 6)
    {
        if (Convert.ToBoolean(ViewData["ShowParam"]))
        {
            <a asp-controller="Home" asp-action="Index" asp-route-showAll="@ViewData["ShowParam"]" class="news__all">Показать все новости</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" asp-route-showAll="@ViewData["ShowParam"]" class="news__all">Скрыть</a>
        }
    }
</section>